/* Add this to your main.css file */
details ul {
  padding-left: 20px; /* Adjust this value as needed */
  margin-left: 0;
}

/* Styling for Credly Badges */
.credly-badge-container {
  display: flex;
  flex-wrap: wrap; /* Allow badges to wrap onto multiple lines */
  justify-content: left; /* Align badges to the left */
  margin-top: 20px;
  margin-bottom: 20px;
}

.credly-badge-container div[data-share-badge-id] {
  margin-right: 10px; /* Add horizontal spacing between badges */
  margin-bottom: 10px; /* Add vertical spacing between badges */
}

.credly-badge-container iframe {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .credly-badge-container {
    justify-content: center; /* Center badges on smaller screens */
  }

  .credly-badge-container div[data-share-badge-id] {
    margin-right: 5px; /* Reduce spacing on smaller screens */
    margin-bottom: 5px;
  }

  .credly-badge-container iframe {
    width: 100%; /* Make badges fill container width on smaller screens */
    max-width: 150px;
  }
}

#content .section > *:not(.expandable) { /* Target all direct children of .section EXCEPT those with class .expandable */
  display: none;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.expandable {
  cursor: pointer; /* Change cursor on hover to indicate clickability */
  padding: 10px;
  background-color: #f0f0f0; /* Light gray background */
  margin-bottom: 5px;
  border-radius: 5px;
}
